.main {
    background-color: #f5edc4!important;
    color: #7359b2;
}
.rowClass{
    background-color: #ebc3d2!important;
}
.buttonStyle{
    background-color: #826db3!important ;
    border-color: #826db3!important;
}